<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" content="content">
	<title></title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body >
<div id="app">
	
<button type="button"  class="btn btn-success col-md-9 col-md-push-3" @click="requests()">获取二维码</button>
	<nav class="header" v-show="nav" >
		<ul>
			<li @click="inter()">最小化</li>
			<li @click="requests()">获取二维码</li>
			<li @click="close()">关闭</li>
		</ul>
	</nav>
	

	<div class="row">
		<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/200x200" alt="200x200" :src="uuid" data-holder-rendered="true" style="height: 200px; width:200px; display: block;">
          <div class="caption">
            <h3>{{loginSta}}</h3>
            <p>Electron + node + html + css + request.</p>
            
          </div>
        </div>
      </div>
	</div>





	<div v-if="select">
		<span>微信昵称：{{user.User.NickName}}</span>
		<span>签名：{{user.User.Signature}}</span>
		<span>性别：{{user.User.Sex !=1?'女人':'男人'}}</span>
		<p>已关注 {{user.MPSubscribeMsgCount}} 个公众号</p>
		<span @click="send(v.UserName)" v-for="v in user.MPSubscribeMsgList" class="label label-success">{{v.NickName}}</span>

		
	</div>
		<table class="table">
	      <caption>
	      		{{MemberList.MemberCount}} 全部好友	
	      	</caption>
	      <thead>
	        <tr>
	          <th>昵称</th>
	          <th>备注名称</th>
	          <th>签名</th>
	          <th>地区</th>
	          <th>性别</th>
	          <th>操作</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr v-for="v in MemberList.MemberList">
	          <td v-html="v.NickName"></td>
	          <td>{{v.RemarkName}}</td>
	          <td v-html="v.Signature"></td>
	          <td>{{v.City}}</td>
	          <td>{{v.Sex !=1?'女人':'男人'}}</td>
	          <td><button type="button" class="btn btn-success">发送消息</button></td>
	        </tr>
	      </tbody>
	    </table>
</div>		
	<script src="js/vue.js"></script>
	<script src="js/main.js"></script>
</body>
</html>

